@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f0f2f5;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.App {
  max-width: 600px;
  width: 100%;
  padding: 2rem;
  text-align: center;
}

.app-name {
  font-size: 2.5rem;
  color: #2c3e50;
  margin-bottom: 2rem;
}

.search-bar {
  margin-bottom: 2rem;
}

.city-search {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.weather-card {
  background : linear-gradient(rgb(95, 180, 255),white);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.weather-icon img {
  width: 100px;
  height: 100px;
}

.weather-card h2 {
  font-size: 1.8rem;
  color: #2c3e50;
  margin-bottom: 0.5rem;
}

.weather-card span {
  font-size: 1rem;
  color: #000000;
}

.weather-card p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.error-message {
  color: #e74c3c;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.loader {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.forecast {
  margin-top: 2rem;
}

.forecast h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.forecast-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.forecast-card {
  background-color: #f0f2f5;
  border-radius: 8px;
  padding: 1rem;
  margin: 0.5rem;
  text-align: center;
  flex: 1;
  min-width: 100px;
}

.forecast-card img {
  width: 50px;
  height: 50px;
}

.forecast-card p {
  margin: 0.5rem 0;
}
.weather-card1{
  width: 31% ;
  padding: 5%;
  background: linear-gradient(rgb(97, 6, 255), rgb(0, 174, 255));
  border-radius: 10px;
  margin: 1%;
  color: white;

}
.show-more-btn{
  color: white;
}